.header {
    grid-area: header;
    background: #fafaf9;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0 0 6px rgba(0,0,0,0.5);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.icon {
    margin-left: 40px;
    width: 40px;
    height: 40px;
}

.loginBlock {
    margin-right: 50px;
    color: #38434f;
    cursor: pointer;
}

.loginBlock a {
    color: #38434f;
    text-decoration: none;
    cursor: pointer;
}
