.profileStatus {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.status {
    font-weight: 550;
    font-size: 18px;
}

.statusText {
    margin-left: 10px;
    margin-right: 10px;
}